.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.material-icons{
  font-size: 4.2em;
  width:0.1rem;
  cursor: pointer;
}
.card{
  width: 260px;
}
.card:hover {
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.5);
}
  .card .card-image .card-title{
  color:rgb(55, 220, 241);
  text-decoration-color: blue;
  font-weight: 900;
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}
